/*
Project Name: Design Copy
Client: Instagram
Author: Alex Li
Developer @GA in DENVER
*/

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 75%;
  margin: 50px auto;
  background-position: center;
  height: 100%;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
  height: 100%;
}

body {
  /*background: linear-gradient(to bottom, #517fa4 0%,#517fa4 50%,#000000 50%,white 50%,white 100%);*/
  background: linear-gradient(to bottom, #517ea3 50%, white 50%);
  margin: 0px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}


/******************************************
/* FOOTER STYLES
/*******************************************/
footer {
  background-color: white;
  background-position: center;
  text-align:center;

}

ul {
   padding: 10px;
   background: white;
}

li {
   display: inline;
   padding: 0px 10px 0px 10px;
   font-size: 15px;
   color: #3b6f98;
}

a{
  color: #3b6f98;
  text-decoration:  none;
}

/******************************************
/* MAIN CONTENT STYLES
/*******************************************/

.bolding{
  font-weight:900;
  font-family: 'Source Sans Pro', sans-serif;
}

/*BUTTON STYLE:
http://css3buttongenerator.com/*/
button {
  background: #517ea3;
  background: -webkit-linear-gradient(#517ea3, #2980b9);
  background: -moz-linear-gradient(#517ea3, #2980b9);
  background: -ms-linear-gradient(#517ea3, #2980b9);
  background: -o-linear-gradient(#517ea3, #2980b9);
  background: linear-gradient(#517ea3, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 5px black;
  font-family: Arial;
  color: white;
  font-size: 15px;
  padding: 10px 20px 10px auto;
  padding: 15px 32px;
}

button:hover {
  background: #517fa4;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/*HOME IMAGE*/


/*END OF BUTTON STYLE*/

/*GRID LAYOUT*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] auto  [col2-start] auto  [col3-start] auto [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.phones {
    grid-column: col1-start ;
    grid-row: row1-start / row3-end;
}
.brand {
    grid-column: col2-start;
    grid-row: row1-start ;
    background-size: cover;
}
.logIn {
    grid-column: col3-start ;
    grid-row: row1-start;
    /*justify-self: center;*/
    margin-top: 15px;
}
.textP {
    grid-column: col2-start / col3-end;
    grid-row: row2-start / row3-end ;
    background: url(../images/frame.png);
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 75px;
    font-size: 100%;
    margin: 0 50px ;

}
/*END OF GRID LAYOUT*/


h1{
  color: #002b56;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

/*CHANGING STYLE */
@media (max-width: 600px) {
  p {
    color: red;
  }
}
