/*
Project Name: Design Copy
Client: Instagram
Author: Alex Li
Developer @GA in DENVER
*/

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 75%;
  margin: 50px auto;
  background-position: center;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /*background: linear-gradient(to bottom, #517fa4 0%,#517fa4 50%,#000000 50%,white 50%,white 100%);*/
  background: linear-gradient(to bottom, #517fa4, white,orange);
  margin: 0px;
  min-height: 100%;
  width: 100%;
}


/******************************************
/* FOOTER STYLES
/*******************************************/

ul {
     padding: 10px;
     background: rgba(0,0,0,0.5);
}

li {
   display: inline;
   padding: 0px 10px 0px 10px;
   font-size: 15px;
   color: white;
}

a{
  color: white;
}

/******************************************
/* TEXT BOX MAIN CONTENT STYLES
/*******************************************/
/*.textBox{
  background: url(../images/frame.png);
  background-size: cover;
  width: 25%;
  margin: 50px;
  display:inline;
}*/

.bolding{
  font-weight: bold;
}

button{
  background: blue;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] auto  [col2-start] auto  [col3-start] auto [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.textP {
    grid-column: col2-start / col3-end;
    grid-row: row2-start / row3-end ;
}
.phones {
    grid-column: col1-start ;
    grid-row: row1-start / row3-end;
}
.brand {
    grid-column: col2-start / col3-end;
    grid-row: row1-start ;
}
.logIn {
    grid-column: col3-start ;
    grid-row: row1-start ;
}
